.dark {
  background-color: #313131;
  color: #f1f1ff;
}

.list-item {
  list-style: none;
}

.big-header {
  font-size: xx-large;
}
body {
  background-color: #313131;
  color: white;
}
* {
  color: white;
}
aside {
  top: 0px;
  height: 100%;
  width: 25%;
  position: fixed;
  background: center radial-gradient(rgb(86, 113, 165), rgb(1, 4, 8));
}

#main {
  width: 74%;
  top: 0px;
  right: 0px;
  position: absolute;
}
#liside {
  border-radius: 8px;
  background: rgb(86, 113, 165);
  margin-bottom: 1em;
  text-align: center;
}
