body {
  overflow-x: hidden;
}

.list-item {
  list-style: none;
}

.big-header {
  font-size: xx-large;
}


/* dark theme */

.darkTheme {
  background-color: #282828;
  color: azure;
}


#toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #615b5b;
  border: 1px solid #615b5b;
  border-radius: 4px;
}
footer {
  position: absolute;
  bottom: 0;
  border-top: 2px solid white;
  width: 99%;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
span {
  color: red;
}
